.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 90px;

  @mixin light {
    background-color: white;
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}

.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: light-dark(var(--mantine-color-blue-4), orange);

  border-radius: 50%;
  display: none;
}

.link:hover::after {
  display: block;
}

@media (max-width: 768px) {
  .link:hover::after {
    display: none;
  }
}
