.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 90px;

  @mixin light {
    background-color: white;
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}
